@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #container {
    width: 90%;
  }
}
/*Home Page*/

html {
    font-family: Avenir;
  }

ul {
    list-style-type: none;
    color: dimgrey;
  }

  hr {
    border-style: solid;
    border-color: #484848;
    border-width: 2px 0 0 0;

    width: 80%;
    margin-top: 8%;
    margin-bottom: 8%;
  }

ul li:before {
    content: '\2013';
    position: absolute;
    margin-left: -20px;
  }

.border {
  border:1px solid #021a40;
}

.sub_subhead {
  font-weight: 500 !important;
  color: #606060;
  margin-bottom: -8px !important;
}

.subhead {
  font-size: 130% !important;
  font-weight: 500 !important;
  margin-bottom: 0 !important;
}

.paragraph {
  margin-bottom: 10px;
  color: grey;
  font-style: italic;
}

.paragraph1 {
  margin-bottom: 10px;
}

.paragraph_container {
  padding: 0 6%;
}

#navbar {
  background-color: transparent;
}

#nav_button {
  color: #FFF3E6;
}

.home .sm_img_container {
  padding: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.home .lg_image {
  padding: 5px;
  margin-bottom: 0;
  margin-top: 0;
}

.home .body_row {
  padding: 10px;
}

.home .nav_but {
  color: grey;
  /*padding-top: 25%;*/
}

.home #name_col {
  padding-left: 1%;
  padding-bottom: 0;
  margin: 0;
}

.home #sm1 {
  padding: 0;
  padding-right: 5px;
}

.home #sm2 {
  padding: 0;
  padding-left: 5px;
}

.home #sm3 {
  padding: 0;
  padding-right: 5px;
}

.home #sm4 {
  padding: 0;
  padding-left: 5px;
}

.home #lg1 {
  padding-bottom: 0;
}

.home #lg2 {
  padding-top: 0;
}

.home #header_row {
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0;
  margin-top: 10px;
}

.home #name_row {
  margin: 0;
}

.home #title {
  font-weight: 500;
  margin-bottom: 0px;
}

.home #summary_row {
  margin-left: 0;
  margin-bottom: 20px;
}

.home #summary_row_text {
  line-height: 150% !important;
}

.home #center_col {
  padding: 0;
}

.home #entire_page {
  margin-bottom: 0;
  max-height: 100vh;
}

/*CUI Home*/
.cui_page h6 {
  font-size: 100%;
  line-height: 150%;
  color: dimgrey;
}

#cui_design h6 {
  font-size: 110%;
  font-weight: lighter;
  margin-bottom: 20px;
}

.cui_page .cui_col {
  padding-left: 15px;
  padding-right: 60px;
  padding-top: 20px;
}

.cui_page .card_span {
  padding: 25px;
}

.cui_page .card_content {
  padding: 0% 2%;
}

.cui_page .description {
  line-height: 140%;
}

.cui_page .card_header {
  margin-bottom: 10px;
}

.cui_page .page_description {
  line-height: 170%;
  color: grey;
  font-weight: lighter;
}

.cui_page .caption {
  font-size: 100%;
  line-height: 120%;
  color: grey;
}

.cui_page .list {
  margin-left: 40px;
  line-height: 190%;
}

.cui_page #entire_page {
  padding: 5px;
}

.cui_page #container {
  width: 70%;
  margin-top: -55px;
}

.cui_page #title {
  padding: 10px;
  padding-left: 25px;
  margin-bottom: 0;
}

.cui_page #cui_description {
  margin: 0;
}

.cui_page #research_col {
  padding-left: 0;

}

.cui_page #tech_col {
  padding-right: 0;
}

.cui_page #header_row {
  padding: 20px;
}

#cui_design #container {
  width: 50%;
}

#cui_research #container {
  width: 50%
}

#cui_research #image_col {
  padding-left: 0;
  padding-right: 5%;
}

#cui_research #header_row {
  padding-left: 0;
}

#cui_tech #container {
  width: 50%
}

#cui_tech #image_col {
  padding-left: 0;
  padding-right: 5%;
}

#cui_tech #header_row {
  padding-left: 0;
}

/*Apple*/
.apple h6 {
  font-size: 112%;
  font-weight: lighter;
  margin-bottom: 20px;
  line-height: 150%;
  color: dimgrey;
}

.apple #container {
  width: 60%;
}

.apple #header_row {
  padding: 0;
  padding-bottom: 10px;
  padding-top: 40px;
}

.apple #header_text {
  padding-left: 35px;
}

.apple #image_col {
  padding-left: 0;
  padding-right: 20px;

}

.apple #sketch_image {
  padding: 30px;
}

.apple #caption {
  font-size: 100%;
  line-height: 120%;
  color: grey;
}

.apple #middle_row {
  margin-bottom: 0;
}

/*Sketches & Photography*/
.art_page #container {
  width: 80%;
}

.art_page #body_row {
  margin: 0;
}

.art_page #sketch_row {
  margin: 0;
}

.art_page #drawing_row {
  margin: 0;
}

.art_page #photo_row {
  margin: 0;
}

/*Screen-based*/

.screens h6 {
  font-size: 112%;
  font-weight: lighter;
  margin-bottom: 20px;
  line-height: 150%;
  color: dimgrey;
}

.screens .list {
  margin-left: 40px;
  line-height: 190%;
}

.screens .caption {
  font-size: 100%;
  line-height: 120%;
  color: grey;
}

.screens #container {
  width: 50%;
}

.screens #header_row {
  padding: 20px;
}

.screens #des {
  padding-right: 3%;
}

/*controls*/
.controls h6 {
  font-size: 112%;
  font-weight: lighter;
  margin-bottom: 20px;
  line-height: 150%;
  color: dimgrey;
}

.controls .label {
  padding-top: 6%;
  font-size: 105% !important;
  color: grey;
}

.controls .many {
  padding: 8%;
}

.controls #header_row {
  padding: 20px;
}

.controls #container {
  width: 50%;
}

.about #container {
  width: 50%;
}

.about #image_row {
  /*padding: 3%;*/
}

.about #header_row {
  padding: 4%;
}

/*Comm*/
.comm  h6 {
  font-size: 112%;
  font-weight: lighter;
  margin-bottom: 20px;
  line-height: 150%;
  color: dimgrey;
}

.comm .font {
  margin-bottom: 5px;
}

.comm .ita {
  font-style: italic;
}

.comm #container {
  width: 50%;
}

.comm #head {
  font-family: "Helvetica Neue", Helvetica;
	font-size: 36px;
	font-style: normal;
  font-weight: 500;
}

.comm #sub {
  font-family: "Helvetica Neue", Helvetica;
	font-size: 18px;
  font-weight: 400;
}

.comm #body {
  font-family: "Helvetica Neue", Helvetica;
	font-size: 14px;
	font-style: normal;
  font-weight: 300;
}

.comm #cap {
  font-family: "Helvetica Neue", Helvetica;
	font-size: 12px;
	font-style: italic;
  font-weight: lighter;
}
